# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
XYZReader/build/*
XYZReader/build/generated/assets/
XYZReader/build/generated/res/
XYZReader/build/generated/source/aidl/
XYZReader/build/generated/source/r/androidTest/
XYZReader/build/generated/source/rs/
XYZReader/build/intermediates/assets/androidTest/
XYZReader/build/intermediates/blame/res/androidTest/
XYZReader/build/intermediates/builds/debug/85881644573337/
XYZReader/build/intermediates/builds/debug/86460582992316/
XYZReader/build/intermediates/builds/debug/86614604413272/
XYZReader/build/intermediates/builds/debug/86943719329333/
XYZReader/build/intermediates/builds/debug/87469473119960/
XYZReader/build/intermediates/builds/debug/87841867101928/
XYZReader/build/intermediates/builds/debug/88087628706253/
XYZReader/build/intermediates/builds/debug/88714035060211/
XYZReader/build/intermediates/builds/debug/88748817904368/
XYZReader/build/intermediates/builds/debug/88821987736684/
XYZReader/build/intermediates/builds/debug/88850890478421/
XYZReader/build/intermediates/builds/debug/88915585019700/
XYZReader/build/intermediates/builds/debug/88968919652700/
XYZReader/build/intermediates/builds/debug/89012872554370/
XYZReader/build/intermediates/builds/debug/89041183809066/
XYZReader/build/intermediates/builds/debug/89073828920342/
XYZReader/build/intermediates/builds/debug/89232524341281/
XYZReader/build/intermediates/builds/debug/89315559071847/
XYZReader/build/intermediates/builds/debug/89441700703124/
XYZReader/build/intermediates/builds/debug/89612650534739/
XYZReader/build/intermediates/builds/debug/89684724629631/
XYZReader/build/intermediates/builds/debug/89742953257277/
XYZReader/build/intermediates/builds/debug/89820643692470/
XYZReader/build/intermediates/builds/debug/90021898234159/
XYZReader/build/intermediates/builds/debug/90150378929338/
XYZReader/build/intermediates/builds/debug/90322243209955/
XYZReader/build/intermediates/builds/debug/90384988356732/
XYZReader/build/intermediates/builds/debug/90685398296345/
XYZReader/build/intermediates/builds/debug/90762027224175/
XYZReader/build/intermediates/builds/debug/92202808427950/
XYZReader/build/intermediates/builds/debug/92349133317072/
XYZReader/build/intermediates/builds/debug/92434593836826/
XYZReader/build/intermediates/builds/debug/92450347455386/
XYZReader/build/intermediates/builds/debug/92592688947559/
XYZReader/build/intermediates/builds/debug/92631738588873/
XYZReader/build/intermediates/builds/debug/92684728173024/
XYZReader/build/intermediates/builds/debug/92773809534015/
XYZReader/build/intermediates/builds/debug/92844624746275/
XYZReader/build/intermediates/builds/debug/92869393606436/
XYZReader/build/intermediates/builds/debug/92941094595133/
XYZReader/build/intermediates/builds/debug/93039467404284/
XYZReader/build/intermediates/builds/debug/93092598114376/
XYZReader/build/intermediates/builds/debug/93160775054608/
XYZReader/build/intermediates/builds/debug/93320772698183/
XYZReader/build/intermediates/builds/debug/94330083947445/
XYZReader/build/intermediates/builds/debug/94395478067670/
XYZReader/build/intermediates/builds/debug/94467156595154/
XYZReader/build/intermediates/builds/debug/94533770743852/
XYZReader/build/intermediates/builds/debug/94610140054892/
XYZReader/build/intermediates/dependency-cache/
XYZReader/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.2.0/aidl/
Would remo
ve XYZReader/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.2.0/assets/
XYZReader/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.2.0/jni/
XYZReader/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.2.0/libs/
XYZReader/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.2.0/res/
XYZReader/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.2.0/aidl/
XYZReader/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.2.0/assets/
XYZReader/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.2.0/jni/
XYZReader/build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.2.0/libs/
XYZReader/build/intermediates/exploded-aar/com.android.support/cardview-v7/23.2.0/aidl/
XYZReader/build/intermediates/exploded-aar/com.android.support/cardview-v7/23.2.0/assets/
XYZReader/build/intermediates/exploded-aar/com.android.support/cardview-v7/23.2.0/jni/
XYZReader/build/intermediates/exploded-aar/com.android.support/cardview-v7/23.2.0/libs/
XYZReader/build/intermediates/exploded-aar/com.android.support/design/23.2.0/aidl/
XYZReader/build/intermediates/exploded-aar/com.android.support/design/23.2.0/assets/
XYZReader/build/intermediates/exploded-aar/com.android.support/design/23.2.0/jni/
XYZReader/build/intermediates/exploded-aar/com.android.support/design/23.2.0/libs/
XYZReader/build/intermediates/exploded-aar/com.android.support/palette-v7/23.2.0/aidl/
XYZReader/build/intermediates/exploded-aar/com.android.support/palette-v7/23.2.0/assets/
XYZReader/build/intermediates/exploded-aar/com.android.support/palette-v7/23.2.0/jni/
XYZReader/build/intermediates/exploded-aar/com.android.support/palette-v7/23.2.0/libs/
XYZReader/build/intermediates/exploded-aar/com.android.support/palette-v7/23.2.0/res/
XYZReader/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/23.2.0/aidl/
XYZReader/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/23.2.0/assets/
XYZReader/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/23.2.0/jni/
XYZReader/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/23.2.0/libs/
XYZReader/build/intermediates/exploded-aar/com.android.support/support-v13/23.2.0/aidl/
XYZReader/build/intermediates/exploded-aar/com.android.support/support-v13/23.2.0/assets/
XYZReader/build/intermediates/exploded-aar/com.android.support/support-v13/23.2.0/jni/
XYZReader/build/intermediates/exploded-aar/com.android.support/support-v13/23.2.0/libs/
XYZReader/build/intermediates/exploded-aar/com.android.support/support-v13/23.2.0/res/
XYZReader/build/intermediates/exploded-aar/com.android.support/support-v4/23.2.0/assets/
XYZReader/build/intermediates/exploded-aar/com.android.support/support-v4/23.2.0/jni/
XYZReader/build/intermediates/exploded-aar/com.android.support/support-v4/23.2.0/libs/
XYZReader/build/intermediates/exploded-aar/com.android.support/support-v4/23.2.0/res/
XYZReader/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.2.0/aidl/
XYZReader/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.2.0/assets/
XYZReader/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.2.0/jni/
XYZReader/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.2.0/libs/
XYZReader/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.2.0/res/
XYZReader/build/intermediates/jniLibs/
Would re
move XYZReader/build/intermediates/manifest/tmp/
XYZReader/build/intermediates/res/merged/androidTest/
XYZReader/build/intermediates/rs/
XYZReader/build/intermediates/shaders/
XYZReader/build/intermediates/symbols/androidTest/
XYZReader/build/intermediates/transforms/extractJars/
XYZReader/build/intermediates/transforms/mergeJniLibs/
XYZReader/build/tmp/
